
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

/* Style the header */
.header {
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
}
.footer{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color:white;
    margin-bottom: auto;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border: 2px solid  rgb(170, 170, 170);
  position: sticky;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #222222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(185, 109, 109);
  color: rgb(224, 224, 224);
}

/* Create three equal columns that floats next to each other */
.column {
  
  float: left;
  width: 24.90%;
 /* background-color: rgb(158, 165, 173);*/
  margin-left:0 ;
  /*border: 5px solid rgb(94, 100, 107);*/
  padding-left: 6px;
}
.block
{
  display: block;
  border: 2px solid  rgb(198, 201, 202);
  /* grid-template-columns: 1fr 1fr;*/
  grid-template-columns: repeat(4,1fr,2fr);
   grid-gap:1em;
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.text
{
 overflow: hidden;
 font-weight: 900;
 font-family: Arial, Helvetica, sans-serif;
 color: brown;
 text-decoration: none;
 
}
.text > div
{
  font-weight: bolder;
  color:black;

}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
